.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.491);
  position: sticky;
  align-items: center;
  box-sizing: border-box;
}

.navbar h1 {
  text-align: center;
}

.navbar-list {
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
  font-size: large;
}

.navbar-list .nav-item a {
  padding: 0.5rem;
  text-decoration: none;
  color: var(--text-color);
  position: relative;
  display: inline-block;
  overflow: hidden; /* Prevent animation overflow */
}

.navbar-list .nav-item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Border thickness */
  background-color: var(--text-color);
  transition: width var(--hover-border-duration),
    left var(--hover-border-duration);
}

.navbar-list .nav-item a:hover::after {
  width: 100%; /* Expand the border width */
  left: 0; /* Start from the left */
}

.navbar-list .nav-item a:hover::after {
  animation: slide-in var(--hover-border-duration) forwards;
}

.navbar-list .nav-item a:not(:hover)::after {
  animation: slide-out var(--hover-border-duration) forwards;
}

/* Keyframes for the loader animation */
@keyframes slide-in {
  from {
    width: 0;
    left: 0;
  }
  to {
    width: 100%;
    left: 0;
  }
}

@keyframes slide-out {
  from {
    width: 100%;
    left: 0;
  }
  to {
    width: 0;
    left: 0;
  }
}

.toggle-item {
  display: flex;
  align-items: center;
}

.toggle-item button {
    font-size: 30px;
    color: var(--text-color);
    background-color: transparent;
    border: 0;
    transition: color var(--hover-duration); /* Add transition for color */
}

.toggle-item button:hover {
    cursor: pointer;
    color: yellow
}



